#Welcome back!
Entering to the last notebook of Pynote! As you are now familiar with numpy, and pandas, lets move on to the most interesting part, data visualisation using matplotlib! 
Yeah! you heard right, we will learn data visualisation!

Lets learn to plot some graphs in python using pyplot.
First lets collect some information to plot.

To demonstrate how things look like, lets just take some arbitiary values to visualise.

#Linear Plot

Suppose, in Munnar, the temperature on monday is 27<sup>o</sup>C, tuesday is 31<sup>o</sup>C, wednesday is 32<sup>o</sup>C, Thursday is 29<sup>o</sup>C.
How will we plot a graph for this data?

Lets store the days as a list in the variable *Days*.

In [0]:
Days=['Monday', 'Tuesday', 'Wednesday','Thursday']  #Run the cell

Now , store the corresponding values in another list, *Temperature*

In [0]:
Temperature= [23, 25, 27 , 24]   #Run the cell

We use matplotlib.pyplot to plot the graph of the above values.

In [0]:
import matplotlib.pyplot as plt

plot() function is used to plot the graph.

In [0]:
plt.plot(Days,Temperature)   #Days will be plotted on X axis and Temperature on Y axis
plt.show()                   #show() function displays the plotted graph.

Voila! That is a simple and nice graph, right.

Note that the shape of the list Day and temperature is same. The value at each index in the first list is plotted against the corresponding value in the second list.

There is an additional argument in plot() function that allows us to indicate the colour and type of plot. By default it is blue lines('b-')
Add an additional argument to the plot function above, ('ro') and check the result.

In [0]:
#plt.plot(Day,Temperature,'ro')

Does the graph look empty because looking at the graph we cannot guess what are the values that are plotted in the y axix, right?
So, to name the label the x and y axis we have , xlabel() and ylabel() functions.

In [0]:
plt.plot(Days,Temperature) 
plt.xlabel('Days')
plt.ylabel('Temperature in Celsius')
plt.show()

Another example,

Suppose, in Kottayam, the temperature on monday is 38<sup>o</sup>C, tuesday is 36<sup>o</sup>C, wednesday is 39<sup>o</sup>C, thursday is 38<sup>o</sup>C.
Lets store these values in the variable, *Temperature_K*

In [0]:
# write the correspoding list here. a
Temperature_K = [38, 36 , 39, 38]

Lets see how the graph will look like.

In [0]:
# write the code to print the plot with x label and y label.

Lets combine these two graphs on a single plot.

In [0]:
plt.plot(Days,Temperature)   #Munnar
plt.plot(Days,Temperature_K)  #Kottayam
#add x and y label
plt.show()

How will you differentiate between those two graphs? Which data is of Munnar and which is of Kottayam.For that we need to add legends.


Legends are the text that has to be read in order to understand the graph.They explain the function or values underlying the different lines of the chart.
We have to add another attribute called label in the plot statement that will describe about the graph.

Make these **changes** in the statements  in the above code, and check out the look.

In [0]:
#Update the above code and RUN
plt.plot(Days,Temperature,label="Munnar")       
plt.plot(Days ,Temperature_K,label = "Kottayam")
plt.legend()                    #Add this statement above plt.show()

Looks more comprehensible to a third person seeing this graph.right?

#Scatter plot

Rather than straight lines we can scatter the points in the plane, using plt.scatter().
replace all the plot() function with scatter() function. The arguments are same.

In [0]:
#copy the above code, replace plot() with scatter() and run.

Since we have taken a very very small amount of data to plot, the graph may not look so exciting. When we have bigger amount of data , data visualisation is helpful because a visual summary of information makes it easier to identify patterns and trends than looking through thousands of rows on a spreadsheet.

#Histograms
Histograms are used to represent data given in form of some groups. X-axis is about bin(width) ranges where Y-axis talks about frequency.
The hist() function is used to plot histograms.
Lets see how a histogram looks like.

In [0]:
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 
  
dataframe = pd.DataFrame({'a': np.random.randn(1000) + 1}, columns =['a']) #creating a pandas dataframe using dictionary
dataframe.plot.hist(alpha = 0.5) 
plt.show()

You can explore other plots like pie plot and bar plot etc.
Lets move on to our dataset and plot some graphs.

Now let's come back to our 'Loan_data.csv' ets work on a data set.

In [0]:
#Run this cell
#This is the step where you upload your file from the local file system.

import io
from google.colab import files
uploaded = files.upload()

Saving Loan_data.csv to Loan_data.csv

In [0]:
#Read the file and print
import pandas as pd
data = pd.read_csv(io.StringIO(uploaded['Loan_data.csv'].decode('utf-8')))
data

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

Suppose from the above data we need to visualise if the relation between income and loan taken by the people of this bank.

For that, lets sort the data by income of the applicant.

We will learn how to use sort_values() function. 


Syntax: **Dataframe.sort_values(by='coloumn_name',ascending =True )**

In [0]:
#sorting values by applicant income
data=data.sort_values(by='ApplicantIncome')

In [0]:
#code to select the loan coloumn
loan=data.loc[:,['LoanAmount']]
loan

In [0]:
#code to select applicant income
income=data.loc[:,['ApplicantIncome']]
#income

In [0]:
plt.scatter(income,loan)
#Add x label and y label here
plt.show()

What can you conclude from this graph?

Now, if we want to analyse how graduates take loans and how non graduates take loan, a function of their income, we need to separate the loan values for both of them.
How will we do that?
Yeah !Boolean indexing!

In [0]:
#here, grad is the boolean variable which holds true for Graduate
grad=data['Education']=='Graduate'    
plt.scatter(income[grad],loan[grad],color='red')
#here, non_grad is the boolean variable which holds true for Not Graduate
non_grad=data['Education']=='Not Graduate'
plt.scatter(income[non_grad],loan[non_grad],color='blue')
#labelling the axis
plt.xlabel('INCOME')
plt.ylabel('LOAN')
plt.show()          # and finally, show the plot

Does scatter plot makes things look a bit confusing. 


Now lets do the same for linear plot.Replace the function scatter() by plot().

In [0]:
#code to plot graduate loan and income
plt.plot(income[grad].sort_values(by='ApplicantIncome'),loan[grad].sort_values(by='LoanAmount'),color='red')
#Add x and y label
plt.show()

Looks neat. Now in the same graph,** plot the linear plot of Non Graduate's Loan vs Income**. Dont forget to use legend to make your graph readable!

> Indented block

### Pie chart
In high school we learned about pie charts, remember? Let's refresh it here with the following example taken from our dataset, Loan_data.csv.<br><br>
So, as a final task let's now visualize the percentage of people having property area at urban, semiurban and rural areas.<br>
For that you need to get the count of each. i.e, number of people having property at each of the three areas. So let's first find that out.

In [0]:
#Count of people having property at urban area
u =

In [0]:
#Count of people having property at semiurban area
s =

In [0]:
#Count of people having property at rural area
r =

Now that you have calculated the counts, let's create a list out of them. <br>
Here we use the extend() funtion to append these three elements to our list.

In [0]:
area_count = []
area_count.extend([u,s,r])
area_count

Now create a list of values whose percentage you want to find,i.e,  'Urban' , 'Semiurban' and 'Rural'. They are the labels of our piechart.

In [0]:
area_labels = ['Urban', 'Semiurban', 'Rural']

Now we use the **.pie(data, labels= ,autopct=' ')** function to create the pie chart. As parameters we need to give the list of our counts, that is the main data first and then as labels our list of labels and autopct is the parameter that displays the percentage of each value, using python string formatting.<br>
Also, use plt.title() funtion to make your pie chart more clear to people who use it.<br>
So let's code our first piechart!

In [0]:
plt.pie(area_count, labels=area_labels, autopct='%1.1f%%')
plt.title('Property Area')
plt.show()

Simple and interesting, right?

Continue experimenting and have fun plotting various graphs. There is a lot more to it. you can follow these links to learn more.


https://www.geeksforgeeks.org/different-plotting-using-pandas-and-matplotlib/

Congratulations on completing this learning series with Pynote! Had a nice time with you all. Dont stop exploring. All the best for your venture in learning ML and Data Science. Let your curiosity never die out. Continue to learn more every day!


Signing out...

Pynote