#Welcome to Day 3!

Numpy basics done! Great job. Now the lets look at a real world scenario. 

Previously you were creating arrays and working on it. But today, you will work on a real world dataset!

After completing this notebook, you will be able to locate a particular data in a very large dataset, extract the required amount of data based on some condition, and once you have  the required data in your hands, you have already learnt the wide variety of operations that you can do on it!! 

Exciting isnt it? 

So without any delay, lets start!

# Numpy with mock data 
Let's explore numpy with a mock data of a csv file.<br><br>
!!  Make sure you have downloaded the **'Loan_data.csv'** file in your system. It will be useful for you to understand and solve some of the problems discussed below.  !!

#### Working with numpy on a dataset
What is a csv file?<br>
A **Comma Separated Values (CSV)** file is a plain text file that contains a list of data. These files are often used for exchanging data between different applications. For example, databases often support CSV files.
<br>
These files may sometimes be called **Character Separated Values** or **Comma Delimited files**. They mostly use the comma character to separate (or delimit) data, but sometimes use other characters, like semicolons. The idea is that you can export complex data from one application to a CSV file, and then import the data in that CSV file into another application.
<br><br>
Example:<br>
Name,Email,Phone Number,Address<br>
Bob Smith,bob@example.com,123-456-7890,123 Fake Street<br>
Mike Jones,mike@example.com,098-765-4321,321 Fake Avenue<br>
<br>
There are functions like **np.genfromtxt()** and **np.loadtxt()**, used to read any file using numpy. But it's a tedious task to do it in google colab. So if you are aquainted with jupyter notebook, you can try these functions there. Details about which is given at the end of this notebook.<br>
Generally, the method used to read a file is using pandas and not numpy, which we will be learning in the next notebook. Hence we will be using just a mock data of the file **Loan_data.csv** stored in the variable, **data** to get a wider understanding of some concepts explained below.<br>
Also, instead of using the whole data from the file, we will be only dealing with the **first 10 rows** of data **excluding the header(column_names)**.<br>
<br>
Given below is an abstract of data from the file, **Loan_data.csv**, which we will be using ahead, but without the header:<br>
<table>
    <thead>
    <td>Loan_ID</td>
    <td>Gender</td>
    <td>Married</td>
    <td>Dependents</td>
    <td>Education</td>
    <td>Self_Employed</td>
    <td>ApplicantIncome</td>
    <td>CoapplicantIncome</td>
    <td>LoanAmount</td>
    <td>Loan_Amount_Term</td>
    <td>Credit_History</td>
    <td>Property_Area</td>
    <td>Loan_Status</td>
    </thead>
    <tr>
        <td>LP001002</td>
        <td>Male</td>
        <td>No</td>
        <td>0</td>
        <td>Graduate</td>
        <td>No</td>
        <td>5849</td>
        <td>0</td>
        <td>76</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001003</td>
        <td>Male</td>
        <td>Yes</td>
        <td>1</td>
        <td>Graduate</td>
        <td>No</td>
        <td>4583</td>
        <td>1508</td>
        <td>128</td>
        <td>360</td>
        <td>1</td>
        <td>Rural</td>
        <td>N</td>
    </tr>
    <tr>
        <td>LP001005</td>
        <td>Male</td>
        <td>Yes</td>
        <td>0</td>
        <td>Graduate</td>
        <td>Yes</td>
        <td>3000</td>
        <td>0</td>
        <td>66</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001006</td>
        <td>Male</td>
        <td>Yes</td>
        <td>0</td>
        <td>Not Graduate</td>
        <td>No</td>
        <td>2583</td>
        <td>2358</td>
        <td>120</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001008</td>
        <td>Male</td>
        <td>No</td>
        <td>0</td>
        <td>Graduate</td>
        <td>No</td>
        <td>6000</td>
        <td>0</td>
        <td>141</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001011</td>
        <td>Male</td>
        <td>Yes</td>
        <td>2</td>
        <td>Graduate</td>
        <td>Yes</td>
        <td>5417</td>
        <td>4196</td>
        <td>267</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001013</td>
        <td>Male</td>
        <td>Yes</td>
        <td>0</td>
        <td>Not Graduate</td>
        <td>No</td>
        <td>2333</td>
        <td>1516</td>
        <td>95</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001014</td>
        <td>Male</td>
        <td>Yes</td>
        <td>3+</td>
        <td>Graduate</td>
        <td>No</td>
        <td>3036</td>
        <td>2504</td>
        <td>158</td>
        <td>360</td>
        <td>0</td>
        <td>Semiurban</td>
        <td>N</td>
    </tr>
    <tr>
        <td>LP001018</td>
        <td>Male</td>
        <td>Yes</td>
        <td>2</td>
        <td>Graduate</td>
        <td>No</td>
        <td>4006</td>
        <td>1526</td>
        <td>168</td>
        <td>360</td>
        <td>1</td>
        <td>Urban</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>LP001020</td>
        <td>Male</td>
        <td>Yes</td>
        <td>1</td>
        <td>Graduate</td>
        <td>No</td>
        <td>12841</td>
        <td>10968</td>
        <td>349</td>
        <td>360</td>
        <td>1</td>
        <td>Semiurban</td>
        <td>N</td>
    </tr>
</table>

In [0]:
#Enter the code to import numpy below

In [0]:
#Run this cell
#data stores the first 10 rows of the csv file, 'Loan_data.csv'

data = np.array([['LP001002', 'Male', 'No', '0', 'Graduate', 'No', 5849, 0.0, 76.0
        360.0, 1.0, 'Urban', 'Y'],
       ['LP001003', 'Male', 'Yes', '1', 'Graduate', 'No', 4583, 1508.0,
        128.0, 360.0, 1.0, 'Rural', 'N'],
       ['LP001005', 'Male', 'Yes', '0', 'Graduate', 'Yes', 3000, 0.0,
        66.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001006', 'Male', 'Yes', '0', 'Not Graduate', 'No', 2583,
        2358.0, 120.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001008', 'Male', 'No', '0', 'Graduate', 'No', 6000, 0.0,
        141.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001011', 'Male', 'Yes', '2', 'Graduate', 'Yes', 5417, 4196.0,
        267.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001013', 'Male', 'Yes', '0', 'Not Graduate', 'No', 2333,
        1516.0, 95.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001014', 'Male', 'Yes', '3+', 'Graduate', 'No', 3036, 2504.0,
        158.0, 360.0, 0.0, 'Semiurban', 'N'],
       ['LP001018', 'Male', 'Yes', '2', 'Graduate', 'No', 4006, 1526.0,
        168.0, 360.0, 1.0, 'Urban', 'Y'],
       ['LP001020', 'Male', 'Yes', '1', 'Graduate', 'No', 12841, 10968.0,
        349.0, 360.0, 1.0, 'Semiurban', 'N']])

#If you have downloaded 'Loan_data.csv' file in your system, you can check it out too!

In [0]:
#Print the data

Expected output:
array([['LP001002', 'Male', 'No', '0', 'Graduate', 'No', '5849', '0.0',
        '76', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001003', 'Male', 'Yes', '1', 'Graduate', 'No', '4583',
        '1508.0', '128.0', '360.0', '1.0', 'Rural', 'N'],
       ['LP001005', 'Male', 'Yes', '0', 'Graduate', 'Yes', '3000', '0.0',
        '66.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001006', 'Male', 'Yes', '0', 'Not Graduate', 'No', '2583',
        '2358.0', '120.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001008', 'Male', 'No', '0', 'Graduate', 'No', '6000', '0.0',
        '141.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001011', 'Male', 'Yes', '2', 'Graduate', 'Yes', '5417',
        '4196.0', '267.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001013', 'Male', 'Yes', '0', 'Not Graduate', 'No', '2333',
        '1516.0', '95.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001014', 'Male', 'Yes', '3+', 'Graduate', 'No', '3036',
        '2504.0', '158.0', '360.0', '0.0', 'Semiurban', 'N'],
       ['LP001018', 'Male', 'Yes', '2', 'Graduate', 'No', '4006',
        '1526.0', '168.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001020', 'Male', 'Yes', '1', 'Graduate', 'No', '12841',
        '10968.0', '349.0', '360.0', '1.0', 'Semiurban', 'N']],
      dtype='<U12')

In [0]:
#Print the shape of 'data'

#### Selecting a single row from an ndarray
Syntax: **data[ row_index ]**<br>
Example: second_row = data[1]<br><br>
1.Select the **5th** row of data<br><br>
Note: **Zero indexing** is used here.

In [0]:
#Enter your code below

#Expected output:
#array(['LP001008', 'Male', 'No', '0', 'Graduate', 'No', '6000', '0.0', '141.0', '360.0', '1.0', 'Urban', 'Y'], dtype='<U12')

#### Selecting multiple rows from an ndarray
Syntax: **data[ start_index : (last+1)_index ]** (selects rows in the interval of index, [start,last],i.e excluding the row with index (last+1).<br>
Example: all_but_first_row = data[1:]<br>00
As in the above example, if last index is not specified, then the selction takes place till the end of the data.Similarly, if the start index is not specified, selection starts from the beginning.
<br><br>
2.Select **5th row to 9th row** of data.(including 100th and 110th row)

In [0]:
#Enter your code below

Expected output: array([['LP001008', 'Male', 'No', '0', 'Graduate', 'No', '6000', '0.0',
        '141.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001011', 'Male', 'Yes', '2', 'Graduate', 'Yes', '5417',
        '4196.0', '267.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001013', 'Male', 'Yes', '0', 'Not Graduate', 'No', '2333',
        '1516.0', '95.0', '360.0', '1.0', 'Urban', 'Y'],
       ['LP001014', 'Male', 'Yes', '3+', 'Graduate', 'No', '3036',
        '2504.0', '158.0', '360.0', '0.0', 'Semiurban', 'N'],
       ['LP001018', 'Male', 'Yes', '2', 'Graduate', 'No', '4006',
        '1526.0', '168.0', '360.0', '1.0', 'Urban', 'Y']], dtype='<U12')

#### Selecting a specific item from an ndarray
Syntax: **data[ row_index, column_index ]**<br>
Example: fifth_row_second_column = data[4,1]<br><br>
3.Print the value at **7th row and 3rd column** in the data.

In [0]:
#Enter your code below

#Expected output: 'Yes'

#### Selecting a single column
Syntax: **data[ : , column_index ]**<br>
Example: second_column = taxi[:,1]<br><br>
4.Print the **Loan_Status**(13th column) of all the applicants from the data.

In [0]:
#Enter your code below

#Expected output: array(['Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N'], dtype='<U12')

#### Selecting multiple columns
There are two methods that you can choose according to your need.
<ul>
    <li><b>Continuous columns</b><br>
        Syntax: <b>data[ : , start: last+1 ]</b> <br>
        Example: second_third_columns = data[:,1:3]</li><br>
    <li><b>Specific columns</b>Syntax: <b>cols = [_column_indices_]</b> <br>
        <b>data[ : , cols ]</b><br>
        Example: cols = [1,3,5]<br>
        second_fourth_sixth_columns = data[:, cols]</li>
</ul><br>
5.Print the <b>Loan_ID, ApplicantIncome, LoanAmount and Loan_Status</b> of all the applicants from the data.

In [0]:
#Enter your code below

Expected output: <br>
array([['LP001002', '5849', '76', 'Y'],<br>
       ['LP001003', '4583', '128.0', 'N'],<br>
       ['LP001005', '3000', '66.0', 'Y'],<br>
       ['LP001006', '2583', '120.0', 'Y'],<br>
       ['LP001008', '6000', '141.0', 'Y'],<br>
       ['LP001011', '5417', '267.0', 'Y'],<br>
       ['LP001013', '2333', '95.0', 'Y'],<br>
       ['LP001014', '3036', '158.0', 'N'],<br>
       ['LP001018', '4006', '168.0', 'Y'],<br>
       ['LP001020', '12841', '349.0', 'N']], dtype='<U12')

#### Selecting a 2D slice
Syntax: **data[ row_indices, column_indices ]**<br>
Example: twod_slice = data[1:4, :3]<br><br>
6.Print **Loan_ID and Credit_History of first 5 applicants** in the data.

In [0]:
#Enter your code here

Expected output:<br> array([['LP001002', '1.0'],<br>
       ['LP001003', '1.0'],<br>
       ['LP001005', '1.0'],<br>
       ['LP001006', '1.0'],<br>
       ['LP001008', '1.0']], dtype='<U12')

### Boolean Indexing
A **boolean array**, as the name suggests, is an array of boolean values. Boolean arrays are sometimes called boolean vectors or boolean masks.<br>
You may recall that the boolean (or bool) type is a built-in Python data type that can be one of two unique values:
<ul><li>True</li><li>False</li></ul>
Let's consider an example given below:

In [0]:
#Run this cell
a = np.array([1, 2, 3, 4, 5])
a_bool = a<3
print(a_bool)

[ True  True False False False]

Here you can see that **< 3** comparison is carried out with all the elements of a and thier result(T/F) is stored in the boolean array, a_bool.This is a **vectorised boolean operation**.<br><br>
7.For the given ndarray <b>b</b> below, evaluate whether elements in array, b are equal to **'red'**.Assign the result to **b_bool** and print the resultant boolean array.<br>
b = np.array(["blue", "blue", "red", "blue"])

In [0]:
#Enter your code below
b = np.array(["blue", "blue", "red", "blue"])


#Expected output: array([False, False,  True, False])

#### Boolean filtering
Now, we'll learn how to index (or select) using boolean arrays, known as **boolean indexing**.
For example, we want to **select data of only graduated applicants** from our file.What do we do?<br>
Follow the steps of solution given below and try the next question on your own.

In [0]:
#Run this cell
#Select the Education column from the data and assign this ndarray to 'e' as given below:
e = data[:,4]
print(e)

In [0]:
#Run this cell
#Evaluate whether elements of g equals to 'Graduate' and assign the result to e_bool as given below:
e_bool = e=='Graduate'
print(e_bool)

In [0]:
#Run this cell
#Use e_bool to index 'data' and assign the data selected in a variable graduate_data
graduate_data = data[e_bool]
print(graduate_data)

I hope you have understood how we **use the boolean array to select /index /filter specific data** according to our need.Here we easily filtered out the data of graduated applicants from the whole set.<br>
Now try the problem below to get a better knack of the concept.<br><br>
8.Filter out the data of applicants whose **Loan_status = 'Y'** and print the data.

In [0]:
#Enter your code here below.
#Select the Loan_Status column from the data and assign this ndarray to 'l' 
l =

In [0]:
#Evaluate whether elements of l equals to 'Y' and assign the result to l_bool
l_bool =

In [0]:
#Use l_bool to index 'data' and assign the data selected in a variable actice_loans and print it.
active_loans = 
print(active_loans)

Expected output: <br>[['LP001002' 'Male' 'No' '0' 'Graduate' 'No' '5849' '0.0' '76' '360.0'
  '1.0' 'Urban' 'Y']<br>
 ['LP001005' 'Male' 'Yes' '0' 'Graduate' 'Yes' '3000' '0.0' '66.0'
  '360.0' '1.0' 'Urban' 'Y']<br>
 ['LP001006' 'Male' 'Yes' '0' 'Not Graduate' 'No' '2583' '2358.0' '120.0'
  '360.0' '1.0' 'Urban' 'Y']<br>
 ['LP001008' 'Male' 'No' '0' 'Graduate' 'No' '6000' '0.0' '141.0' '360.0'
  '1.0' 'Urban' 'Y']<br>
 ['LP001011' 'Male' 'Yes' '2' 'Graduate' 'Yes' '5417' '4196.0' '267.0'
  '360.0' '1.0' 'Urban' 'Y']<br>
 ['LP001013' 'Male' 'Yes' '0' 'Not Graduate' 'No' '2333' '1516.0' '95.0'
  '360.0' '1.0' 'Urban' 'Y']<br>
 ['LP001018' 'Male' 'Yes' '2' 'Graduate' 'No' '4006' '1526.0' '168.0'
  '360.0' '1.0' 'Urban' 'Y']]

<br>In case anyone is willing to try **np.genfromtxt** function in **Jupyter Notebook**, you can follow the following format:<br> 
We will use the following parameters here:<br>
<ul>
    <li><b>delimiter</b> - It specifies the string used to separate values. By default, any consecutive whitespaces act as delimiter.</li>
    <li><b>dtype</b> - It specifies the data type of the resulting array. If value='None-, the dtypes will be determined by the contents of each column, individually.</li>
    <li><b>encoding</b> - It is used to decode the input file.</li>
</ul>
Therefore,the syntax is:<br>
<b>variable_name = np.genfromtxt(file_name.csv, delimiter = ',', dtype = None, encoding = None)</b><br>
You can practice reading **'Loan_data.csv'** file.<br><br>
Note:There are more parameters other than this for the function.But we use these parameters in accordance to our file to get it in the required format.

So, this is it for the Numpy library.There is so much more to it, so keep exploring guys!<br><br>

Hey! We got just two more days left with you, my friend! Had a nice time with you! Great Work. Also, even more exciting topics are on their way!! Yeah!

See you in the next notebook!
 
 :)




**Happy learning!**