### Congratulations!!
You have completed learning the first library, Numpy with us and now it's time to move a step ahead and start learning a new library but applying the same concepts we have learned. I ensure you that this is gonna be as interesting as the library's name! Lol!<br>
So keep up the spirit and start!

# Pandas
Let's begin with our second library pandas but before that, what is pandas used for? <br>Pandas is a powerful python data analysis toolkit for reading, filtering, visualizing and exporting data! You will get a better idea on this, after going through the notebook, so let's not waste time and begin.

1.Import the Pandas library using the syntax given below:<br>
**import pandas as pd**

In [0]:
#Enter your code below

Now, we will read our old dataset and learn with it.So, let's see how we do this in pandas.<br>

#### Reading files using pandas
From JSON files to SQL files, pandas allows us to read many types of files in a very simple way.The following table gives a pretty good idea on reading files of any type using pandas:
<table>
    <thead>
    <td>Format type</td>
    <td>Data description</td>
    <td>Reader</td>
    </thead>
    <tr>
    <td>text</td>
    <td>CSV</td>
    <td>read_csv</td>
    </tr>
    <tr>
    <td>text</td>
    <td>JSON</td>
    <td>read_json</td>
    </tr>
    <tr>
    <td>text</td>
    <td>HTML</td>
    <td>read_html</td>
    </tr>
    <tr>
    <td>text</td>
    <td>local clipboard</td>
    <td>read_clipboard</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>MS Excel</td>
    <td>read_excel</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>HDF5 format</td>
    <td>read_hdf</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Feather format</td>
    <td>read_feather</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Msppack</td>
    <td>read_msgpack</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Stata</td>
    <td>read_stata</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>SAS</td>
    <td>read_sas</td>
    </tr>
    <tr>
    <td>binary</td>
    <td>Python Pickle format</td>
    <td>read_pickle</td>
    </tr>
    <tr>
    <td>SQL</td>
    <td>SQL</td>
    <td>read_sql</td>
    </tr>
    <tr>
    <td>SQL</td>
    <td>Google Big Query</td>
    <td>read_gbq</td>
    </tr>
</table>

The syntax for reading a file using pandas is:<br>
**data = pd._reader_('file_name')**<br><br>
But, while reading any file in google colab, there are some steps to follow, which are given below.<br>
Also, note that there are two methods to do so, one is the method given below and the other is via google drive. We will be discussing only this method for now!

In this step, you are going to upload your csv file, **'Loan_data.csv'** from your system.<br>
Note that you might have to wait for a few seconds, for the file to upload. You can continue further after you see **100% done**.

In [0]:
#Run this cell
#This is the step where you upload your file from the local file system.

import io
from google.colab import files
uploaded = files.upload()

Follow this link to know more about [io module](https://www.journaldev.com/19178/python-io-bytesio-stringio) of python.

In [0]:
#This is an optional step where you print file name along with length of the data of file in bytes

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

#If you are on the right path your output will be something like this:
#User uploaded file "Loan_data.csv" with length 38015 bytes

In [0]:
#Run this cell
#Printing 'uploaded'

uploaded

You can see that, data is retrieved in the form of a **dictionary**, where **file name** is the **key**, and the **complete data** as the **value** of the key.<br><br>
Now, in the next step we will be reading our file, **Loan_data.csv** using the **pd.read_csv** reader of pandas, in the following manner:

In [0]:
#Run this cell
data = pd.read_csv(io.StringIO(uploaded['Loan_data.csv'].decode('utf-8')))
data

Doesn't this form of reading data look much better and easier? Well, what you see above is called a **dataframe** in pandas, which we will learn in the coming sections.

#### Dimension
**.shape** attribute returns a tuple representing the dimensions of each axis of the object.<br>
Syntax: 
<ul>
    <li><b>data.shape</b> - returns <b>( no_of_rows ,no_of_columns )</b> </li>
    <li><b>data.shape[0]</b> - returns <b>Number of rows</b></li>
    <li><b>data.shape[1]</b> - returns <b>Number of columns</b></li>
</ul>
<br>
2.Find the <b>shape, number of rows and number of columns</b> of the data

In [0]:
#Enter your code here

In [0]:
#Enter your code here

In [0]:
#Enter your code here

#### Data Structures in Pandas
We have two important data structures offered by pandas as given below:
<ol>
    <li><b>Series</b></li>
    <li><b>Dataframe</b></li>
</ol>
So let's have a brief introduction to it!

### 1.Series
Pandas Series is a **one-dimensional labeled array** capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called **index**. Pandas Series is nothing but a **column in an excel sheet**.<br><br>
Syntax: **series_object = pd.Series([_elements_])**<br><br>
Let's see an example below:

In [0]:
#Run this cell
series_obj1 = pd.Series([1,2,3,'hi'])
series_obj1

What you see above is a Series object with default indices. Now in our **data**, i.e, our csv file we will read a column of it below, which can be called a series. Let's have a look on how we do it.!<br>
### Selecting a single column
There are two methods to do so.They are:
<ul>
    <li>Explicit Syntax: <b>col = data.loc[ : , 'column_name']</b><br></li>
    <li>Shorthand convention: <b>col = data['column_name']</b><br></li>
</ul>
Here <b>col</b> is a <b>Series object</b>.<br><br>
Let's have a look at at the example below:

In [0]:
#Run this cell
Marital_status = data['Married']
Marital_status

So, let's try it on our own now by completing the task below.<br>
3.Select the **Education** column from **data**.

In [0]:
#Enter you code here

Expected Output:<br>
0          Graduate<br>
1          Graduate<br>
2          Graduate<br>
3      Not Graduate<br>
4          Graduate<br>
5          Graduate<br>
6      Not Graduate<br>
7          Graduate<br>
8          Graduate<br>
9          Graduate<br>
10         Graduate<br>
11         Graduate<br>
12         Graduate<br>
13         Graduate<br>
14         Graduate<br>
15         Graduate<br>
16     Not Graduate<br>
17         Graduate<br>
18     Not Graduate<br>
19         Graduate<br>
20     Not Graduate<br>
21         Graduate<br>
22     Not Graduate<br>
23     Not Graduate<br>
24         Graduate<br>
25         Graduate<br>
26         Graduate<br>
27     Not Graduate<br>
28     Not Graduate<br>
29         Graduate<br>
           ...     <br>
584        Graduate<br>
585        Graduate<br>
586        Graduate<br>
587    Not Graduate<br>
588        Graduate<br>
589        Graduate<br>
590        Graduate<br>
591        Graduate<br>
592        Graduate<br>
593        Graduate<br>
594        Graduate<br>
595    Not Graduate<br>
596    Not Graduate<br>
597        Graduate<br>
598        Graduate<br>
599        Graduate<br>
600        Graduate<br>
601    Not Graduate<br>
602        Graduate<br>
603        Graduate<br>
604        Graduate<br>
605    Not Graduate<br>
606        Graduate<br>
607    Not Graduate<br>
608        Graduate<br>
609        Graduate<br>
610        Graduate<br>
611        Graduate<br>
612        Graduate<br>
613        Graduate<br>
Name: Education, Length: 614, dtype: object

#### Difference between Series object of pandas and ndarray of numpy
<table>
    <thead>
    <td>Ndarray</td>
    <td>Series</td>
    </thead>
    <tr>
    <td>Homogeneous</td>
    <td>Hetrogeneous</td>
    </tr>
    <tr>
    <td>Integer position</td>
    <td>Integer position or any labeled index</td>
    </tr>
</table>

### 2.Dataframe
Dataframes are the pandas equivalent of a **Numpy 2D ndarray**, with a few key differences:
<ul>
    <li>Axis values can have string labels, not just numeric ones.</li>
    <li>Dataframes can contain columns with multiple data types: including integer, float, and string.</li>
</ul>
Syntax: <b>df = pd.DataFrame([[elements_of_list1],[elements_of_list2],[elements_of_list3].....])</b><br><br>
Let's see an example below.

In [0]:
#Run this cell
df = pd.DataFrame([[1,'one'],[2,'two'],[3,'three']])
df

So **df** above is a dataframe object.<br>
Note that our file **"Loan_data.csv" is read in 'data' as a dataframe using pandas**.<br>
So let's see different functions to manipulate a dataframe

#### head() and tail()
To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.<br>
<ul>
    <li><b>data.head(n)</b> - returns the <b>first n rows</b>(observe the index values).</li>
    <li><b>data.tail(n)</b> - returns the <b>last n rows</b>(observe the index values).</li>
</ul>
Note: The <b>default number of elements to display is five</b>, but you may pass a custom number. Also, the rows are selected excluding the header from the index value.
<br><br>
    4. Print the <b>first 10 rows of data</b>.

In [0]:
#Enter your code below

5.Print the **last 10 rows of data**.

In [0]:
#Enter your code below

#### .dtypes
It returns the dataframe's datatypes.<br>
Syntax: **data.dtypes**<br><br>
6.Print the **data types of all the columns of data**.

In [0]:
#Enter your code below

Also, go through [select_dtypes()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html) function, which is useful in selecting data of particular data types.

### Selecting values from a dataframe
We have already discussed how to select a single column. No let's see how to select multiple columns.<br>
#### Selecting multiple columns/ list of columns (Specific columns)
Syntax: <ul>
    <li>Explicit syntax: <b>cols = data.loc[ : ,['column1_name', 'column2_name', ....]]</b>
    <li>Shorthand syntax: <b>data[[ 'column1_name', 'column2_name', ....]]</b></li>
    </ul>
<br>
7.Select **Dependents, Credit_History and Property_Area,** columns from data

In [0]:
#Enter your code below

#### Selecting multiple columns / slice of columns (Continuous columns)
Explicit syntax: <b>data.loc[ : , 'column_name_first : 'column_name_last']</b>
<br><br>
  8.Select **4th to 8th columns** from data.

In [0]:
#Enter your code below

#### Selecting single row 
Explicit syntax: **data.loc[ row_index ]**<br>

9.Select **3rd row** from data

In [0]:
#Enter your code below

#### Selecting multiple rows/ list of rows (Specific rows)
Explicit syntax: **data.loc[[ row1_index, row2_index,...]]**<br><br>
10.Select **5th, 10th and 15th rows** from data.

In [0]:
#Enter your code below

#### Selecting multiple rows/ slice of rows (Continuous rows)
<ul>
    <li>Explicit syntax: <b>data.loc[ row_index_start : row_index_end ]</b></li>
    <li>Shorthand syntax: <b>data[ row_index_start : row_index_end+1 ]</b></li>
</ul>
<br>
11.Select <b>10th to 20th rows</b> from data.

In [0]:
#Enter your code below

#### Selecting single item from series and dataframe
If <b>s is a series object</b>, then the syntax to select a single item from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[ item_index/row_index ]</b></li>
    <li>Shorthand syntax: <b>s[ item_index/row_index ]</b></li>
</ul>
Now, if we want to select a single item from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the single item we need from that series.<br><br>
i.e, example: <b>Loan_ID_at_6th = data[ 'Loan_ID' ].loc[5]</b><br>
or, <b>Loan_ID_at_6th = data[ 'Loan_ID' ][5]</b>
<br><br>
12. Select the <b>13th item in the 'CoapplicantIncome' column</b> from data.

In [0]:
#Enter your code below

#Expected output: 8106.0

### Selecting multiple items from a series and dataframe
#### Selecting a list of items( specific items )  from series and dataframe
If <b>s is a series object</b>, then the syntax to select a list of items from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[[ item1_index, item2_index,... ]]</b></li>
    <li>Shorthand syntax: <b>s[[ item1_index, item2_index,... ]]</b></li>
</ul>
Now, if we want to select some specific items from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the specific items we need from that series.<br><br>
i.e, example: <b>Loan_ID_at_6th_7th = data[ 'Loan_ID' ][[5,7]]</b><br>
or, <b>Loan_ID_at_6th_8th = data[ 'Loan_ID' ].loc[[5,7]]</b><br><br>
13.Select the <b>9th and 12th item in the 'ApplicantIncome' column</b> from data.

In [0]:
#Enter your code below

Expected output:<br>
8     4006<br>
11    2500<br>
Name: ApplicantIncome, dtype: int64

#### Selecting a slice of items( continuous items ) from series and dataframe

---


If s is a series object, then the syntax to select a list of continuous items from it as given below:<br>
<ul>
    <li>Explicit syntax: <b>s.loc[ item_index_start : item_index_last ]</b></li>
    <li>Shorthand syntax: <b>s[ item_index_start : item_index_last+1 ]</b></li>
</ul>
Now, if we want to select a slice of items from a dataframe, first we need to select a series and then from the given series, performing the above operation will yield us the continuous items we need from that series.<br><br>
i.e, example: <b>Loan_ID_3rd_to_5th = data['Loan_ID'].loc[2:4]</b><br>
or, <b>Loan_ID_3rd_to_5th = data['Loan_ID'][2:5]</b><br><br>
14.Select <b>items from 16th to 19th rows from the 'LoanAmount' column</b> from data.

In [0]:
#Enter your code below

Expected output:<br>
15    125.0<br>
16    100.0<br>
17     76.0<br>
18    133.0<br>
Name: LoanAmount, dtype: float64

#### Describing a series object
Pandas **describe()** is used to view some **basic statistical details** like percentile, mean, std etc. of a data frame or a series of numeric values.<br>
Syntax: **series_object.describe()**<br><br>
You can see the output of it on your own by running the cell below, which descibes the **LoanAmount** column of our data.

In [0]:
#Run this cell
data['LoanAmount'].describe()

15. Print the statistical details of **ApplicantIcome** column of data

In [0]:
#Enter your code below

Expected output:<br>
count      614.000000<br>
mean      5403.459283<br>
std       6109.041673<br>
min        150.000000<br>
25%       2877.500000<br>
50%       3812.500000<br>
75%       5795.000000<br>
max      81000.000000<br>
Name: ApplicantIncome, dtype: float64

#### Unique value counts for an item in a column
The value_counts() function is used to get counts of unique values.<br><br>
Syntax: **data['column_name'].value_counts().loc['item']**<br>
This will return the count of **item** in column **column_name**.<br><br>
This is called **method chaining** — a way to combine multiple methods together in a single line.<br>
Yes, we have also used this before in numpy, right?<br><br>
16. Print the **count of active loans** (Loan_Status = 'Y') from data.

In [0]:
#Enter your code below

#Expected output: 422

#### Creating a new column
Syntax: **data['new_column_name'] = value**<br><br>
17.Create a new column **Time_period** and initialize it with 0 and **print data**.

In [0]:
#Enter your code below

You can see a new column added in the data!<br>
Now it's time to use the concepts you have studied till now here. So let's solve the following problems with the knowledge you have acquired till now!<br>
### Vectorisation problems
16. Create a new column **Total_income** and store the **sum of ApplicantIncome and CoapplicantIncome** from data.

In [0]:
#Enter your code below

17.Create a new column **Diff** and store the **difference of LoanAmount and and Total_income**.

In [0]:
#Enter your code below

### Broadcasting problem
18. The **Loan_Amount_term is asked to be multiplied by 10** ny the manager.Make the necessary changes and print the new data.

In [0]:
#Enter your code below

### Boolean filtering
19. Print the data of applicants having **Loan_Amount_Term = 480**.

In [0]:
#Enter your code below

20.Print the data of applicant whose **Property_area ='Semiurban'**.

In [0]:
#Enter your code below

So, we have come to an end of the fourth notebook. And I would like to stress on the fact that there is a lot more to pandas than we have discussed here.So if you are interested you can continue and learn more cool stuff that pandas can do. We have given you a beginning and basic ideas. Now you are set to explore more advanced topics.<br><br>
Links:<br>
[https://www.w3resource.com/python-exercises/pandas/index.php](https://www.w3resource.com/python-exercises/pandas/index.php)<br>
[https://towardsdatascience.com/data-visualization-exploration-using-pandas-only-beginner-a0a52eb723d5](https://towardsdatascience.com/data-visualization-exploration-using-pandas-only-beginner-a0a52eb723d5)<br>
[https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html)<br>
[https://mode.com/python-tutorial/python-filtering-with-boolean-indexes/](https://mode.com/python-tutorial/python-filtering-with-boolean-indexes/)<br>
[https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f](https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f)<br><br>
So, see you in the next notebook where we will start a completely different library, **matplotlib**. It's gonna be interesting visulaizing the data!<br>
## Happy learning!